@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="awe-section-1">
    <div class="container margin-top-15">
        <div class="row top-sliders">
            <div class="col-md-8">
                <div id="sync1" class="owl-carousel owl-theme not-dqowl">
                    <div class="item">
                        <a href="#" class="clearfix" title="Ant Green">
                            <picture>
                                <source media="(max-width: 767px)" srcset="https://bizweb.dktcdn.net/thumb/large/100/348/133/themes/709285/assets/slider_1.jpg?1559638811340">
                                <img data-src="https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/slider_1.jpg?1559638811340" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Ant Green" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="clearfix" title="Ant Organic">
                            <picture>
                                <source media="(max-width: 767px)" srcset="https://bizweb.dktcdn.net/thumb/large/100/348/133/themes/709285/assets/slider_2.jpg?1559638811340">
                                <img data-src="https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/slider_2.jpg?1559638811340" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Ant Organic" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="clearfix" title="Ant Organic">
                            <picture>
                                <source media="(max-width: 767px)" srcset="https://bizweb.dktcdn.net/thumb/large/100/348/133/themes/709285/assets/slider_3.jpg?1559638811340">
                                <img data-src="https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/slider_3.jpg?1559638811340" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Ant Organic" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="clearfix" title="Ant Organic">
                            <picture>
                                <source media="(max-width: 767px)" srcset="https://bizweb.dktcdn.net/thumb/large/100/348/133/themes/709285/assets/slider_4.jpg?1559638811340">
                                <img data-src="https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/slider_4.jpg?1559638811340" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Ant Organic" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="clearfix" title="Ant Organic">
                            <picture>
                                <source media="(max-width: 767px)" srcset="https://bizweb.dktcdn.net/thumb/large/100/348/133/themes/709285/assets/slider_5.jpg?1559638811340">
                                <img data-src="https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/slider_5.jpg?1559638811340" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Ant Organic" class="img-responsive center-block" />
                            </picture>
                        </a>
                    </div>
                </div>
                <div id="sync2" class="owl-carousel owl-theme not-dqowl hidden-xs">
                    <div class="item">Mua iPhone X Không lo rơi vỡ</div>
                    <div class="item">Phụ kiện iWalk Mua 1 được 2</div>
                    <div class="item">Mua Mi 8 | Mi 8 SE Giá rẻ, có trả góp</div>
                    <div class="item">Redmi Note 7 CTY Giảm thẳng 200K</div>
                    <div class="item">Đặt trước Mi 9 CTY Giá rẻ hơn 1 triệu</div>
                </div>
            </div>
            <div class="col-md-4 homenews hidden-sm hidden-xs">
                <figure>
                    <h2><a href="tin-tuc">Tin công nghệ</a></h2>
                </figure>
                <ul>
                    <li class="clearfix">
                        <a href="/oppo-trinh-lang-dien-thoai-gap-nhung-se-khong-san-xuat-hang-loat" title="OPPO tr&#236;nh l&#224;ng điện thoại gập nhưng sẽ kh&#244;ng sản xuất h&#224;ng loạt"></a>
                        <img width="100" height="70" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/grande/100/348/133/articles/900x450-uploads-2019-02-25-ca681d5a1e.jpg?v=1551952776750" alt="OPPO tr&#236;nh l&#224;ng điện thoại gập nhưng sẽ kh&#244;ng sản xuất h&#224;ng loạt" class="img-responsive center-block" />
                        <h3>OPPO tr&#236;nh l&#224;ng điện thoại gập nhưng sẽ kh&#244;ng sản xu...</h3>
                        <span>26/Tháng Hai/2019</span>
                    </li>
                    <li class="clearfix">
                        <a href="/voi-qualcomm-5g-khong-chi-danh-cho-dien-thoai-ma-con-ca-pc" title="Với Qualcomm, 5G kh&#244;ng chỉ d&#224;nh cho điện thoại m&#224; c&#242;n cả PC"></a>
                        <img width="100" height="70" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/grande/100/348/133/articles/nen-800x450.jpg?v=1551189624743" alt="Với Qualcomm, 5G kh&#244;ng chỉ d&#224;nh cho điện thoại m&#224; c&#242;n cả PC" class="img-responsive center-block" />
                        <h3>Với Qualcomm, 5G kh&#244;ng chỉ d&#224;nh cho điện thoại m&#224; c&...</h3>
                        <span>26/Tháng Hai/2019</span>
                    </li>
                    <li class="clearfix">
                        <a href="/galalaxy-s10-ra-mat-tai-viet-nam-gia-tot-hon-du-kien-chi-tu-16-trieu" title="Galalaxy S10 ra mắt tại Việt Nam: Gi&#225; tốt hơn dự kiến, chỉ từ 16 triệu"></a>
                        <img width="100" height="70" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/grande/100/348/133/articles/2-800x450.jpg?v=1551189554080" alt="Galalaxy S10 ra mắt tại Việt Nam: Gi&#225; tốt hơn dự kiến, chỉ từ 16 triệu" class="img-responsive center-block" />
                        <h3>Galalaxy S10 ra mắt tại Việt Nam: Gi&#225; tốt hơn dự kiến, chỉ từ ...</h3>
                        <span>26/Tháng Hai/2019</span>
                    </li>
                </ul>
                <div class="twobanner">
                    <a href="#" title="Ant Mobile">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/100/348/133/themes/709285/assets/banner_under_slider.png?1559638811340" alt="Ant Mobile" class="img-responsive center-block" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="awe-section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="promo-title">
                    <a class="promo-title-a" href="san-pham-moi" title="Giá sốc cuối tuần">Giá sốc cuối tuần</a>
                    <div id="owl-promo" class="section-tour-owl2 owl-carousel not-dqowl">
                        <div class="item">
                            <div class="news-item-products">
                                <a href="detail.html" title="Samsung Galaxy S10+ (8 + 128GB)"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863659522918468-ss-galaxy-s10-plus-xanh-1.png?v=1552139238637" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S10+ (8 + 128GB)" class="img-responsive center-block" />
                                    <label class="per">Giảm  2% </label>
                                </div>
                                <h3>Samsung Galaxy S10+ (8 + 128GB)</h3>
                                <div class="price">
                                    <strong>22.990.000₫</strong>
                                    <span>23.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10e" title="Samsung Galaxy S10e"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863622278818137-ss-galaxy-s10e-den-1.png?v=1552138222357" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S10e" class="img-responsive center-block" />
                                    <label class="per">Giảm  6% </label>
                                </div>
                                <h3>Samsung Galaxy S10e</h3>
                                <div class="price">
                                    <strong>15.990.000₫</strong>
                                    <span>17.000.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a9-2018" title="Samsung Galaxy A9 2018"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636776104541101822-galaxy-a7-blue-5.png?v=1551252657427" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A9 2018" class="img-responsive center-block" />
                                    <label class="per">Giảm  16% </label>
                                </div>
                                <h3>Samsung Galaxy A9 2018</h3>
                                <div class="price">
                                    <strong>10.490.000₫</strong>
                                    <span>12.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018" title="Samsung Galaxy A7 (2018)"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636746958719163577-a7-2018-blue-1.png?v=1551252578530" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 (2018)" class="img-responsive center-block" />
                                    <label class="per">Giảm  7% </label>
                                </div>
                                <h3>Samsung Galaxy A7 (2018)</h3>
                                <div class="price">
                                    <strong>6.990.000₫</strong>
                                    <span>7.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news-item-products">
                                <a href="/oppo-a3s-16gb" title="Oppo A3s 16GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636688079458645221-oppoa3s-tim-1.jpg?v=1551252470783" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Oppo A3s 16GB" class="img-responsive center-block" />
                                </div>
                                <h3>Oppo A3s 16GB</h3>
                                <div class="price">
                                    <strong>3.290.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-j8" title="Samsung Galaxy J8"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636668977169527052-samsung-j8-tim-1.jpg?v=1551252361210" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy J8" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy J8</h3>
                                <div class="price">
                                    <strong>4.970.000₫</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="awe-section-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_product clearfix">
                    <div class="section-head clearfix">
                        <h2 class="title_blog">Điện thoại</h2>
                        <div class="viewallcat hidden-xs">
                            <a href="/samsung" title="Samsung">Samsung</a>
                            <a href="/apple" title="Apple">Apple</a>
                            <a href="/sony" title="Sony">Sony</a>
                            <a href="/oppo" title="Oppo">Oppo</a>
                            <a href="/huawei" title="Huawei">Huawei</a>
                            <a href="/xiaomi" title="Xiaomi">Xiaomi</a>
                        </div>
                    </div>
                    <div class="product-blocks clearfix">
                        <div class="item-border col-md-40 col-sm-4 col-xs-12 no-padding big-item-product">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10-8-128gb" title="Samsung Galaxy S10+ (8 + 128GB)"></a>
                                <div class="relative">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863659522918468-ss-galaxy-s10-plus-xanh-1.png?v=1552139238637" alt="Samsung Galaxy S10+ (8 + 128GB)" class="img-responsive center-block" />
                                    <label class="per">Giảm  2% </label>
                                </div>
                                <div class="big-content">
                                    <h3>Samsung Galaxy S10+ (8 + 128GB)</h3>
                                    <div class="price">
                                        <strong>22.990.000₫</strong>
                                        <span>23.500.000₫</span>
                                    </div>
                                    <div class="promos hidden-sm">
                                        <ul>
                                            <li><label>Màn hình:</label>6.4 inches, 1440 x 3040 pixels</li>
                                            <li><label>Camera trước:</label>Camera kép</li>
                                            <li><label>Camera sau:</label>3 camera</li>
                                            <li><label>RAM:</label>8 GB</li>
                                            <li><label>Bộ nhớ trong:</label>128 GB</li>
                                            <li><label>GPU:</label>Mali-G76 MP12</li>
                                            <li><label>Dung lượng pin:</label>4100 mAh</li>
                                            <li><label>Hệ điều hành:</label>Android 9.0 (Pie)</li>
                                            <li><label>Thẻ SIM:</label>Nano SIM, 2 Sim</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10e" title="Samsung Galaxy S10e"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863622278818137-ss-galaxy-s10e-den-1.png?v=1552138222357" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S10e" class="img-responsive center-block" />
                                    <label class="per">Giảm  6% </label>
                                </div>
                                <h3>Samsung Galaxy S10e</h3>
                                <div class="price">
                                    <strong>15.990.000₫</strong>
                                    <span>17.000.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a9-2018" title="Samsung Galaxy A9 2018"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636776104541101822-galaxy-a7-blue-5.png?v=1551252657427" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A9 2018" class="img-responsive center-block" />
                                    <label class="per">Giảm  16% </label>
                                </div>
                                <h3>Samsung Galaxy A9 2018</h3>
                                <div class="price">
                                    <strong>10.490.000₫</strong>
                                    <span>12.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018" title="Samsung Galaxy A7 (2018)"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636746958719163577-a7-2018-blue-1.png?v=1551252578530" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 (2018)" class="img-responsive center-block" />
                                    <label class="per">Giảm  7% </label>
                                </div>
                                <h3>Samsung Galaxy A7 (2018)</h3>
                                <div class="price">
                                    <strong>6.990.000₫</strong>
                                    <span>7.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/oppo-a3s-16gb" title="Oppo A3s 16GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636688079458645221-oppoa3s-tim-1.jpg?v=1551252470783" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Oppo A3s 16GB" class="img-responsive center-block" />
                                </div>
                                <h3>Oppo A3s 16GB</h3>
                                <div class="price">
                                    <strong>3.290.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-j8" title="Samsung Galaxy J8"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636668977169527052-samsung-j8-tim-1.jpg?v=1551252361210" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy J8" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy J8</h3>
                                <div class="price">
                                    <strong>4.970.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s9" title="Samsung Galaxy S9"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636552317043233179-1.jpg?v=1551242342070" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S9" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy S9</h3>
                                <div class="price">
                                    <strong>19.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/nokia-6-1-plus" title="Nokia 6.1 Plus"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636737264632784078-nokia6plus-den-1.jpg?v=1551242185720" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Nokia 6.1 Plus" class="img-responsive center-block" />
                                </div>
                                <h3>Nokia 6.1 Plus</h3>
                                <div class="price">
                                    <strong>5.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018-128gb" title="Samsung Galaxy A7 2018 - 128GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636749648129210031-a7-2018-den-1.jpg?v=1551242012420" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 2018 - 128GB" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy A7 2018 - 128GB</h3>
                                <div class="price">
                                    <strong>7.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="san-pham-moi" title="Xem tất cả Điện thoại" class="hidden-lg hidden-md mobile-viewmore">Xem tất cả Điện thoại</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="awe-section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_product clearfix">
                    <div class="section-head clearfix">
                        <h2 class="title_blog">Tablet</h2>
                        <div class="viewallcat hidden-xs">
                            <a href="/dien-thoai" title="Điện thoại">Điện thoại</a>
                            <a href="/tablet" title="Tablet">Tablet</a>
                            <a href="/laptop" title="Laptop">Laptop</a>
                            <a href="/phu-kien" title="Phụ kiện">Phụ kiện</a>
                            <a href="/dong-ho" title="Đồng hồ">Đồng hồ</a>
                            <a href="/may-cu" title="Máy cũ">Máy cũ</a>
                        </div>
                    </div>
                    <div class="product-blocks clearfix">
                        <div class="item-border col-md-40 col-sm-4 col-xs-12 no-padding big-item-product">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10-8-128gb" title="Samsung Galaxy S10+ (8 + 128GB)"></a>
                                <div class="relative">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863659522918468-ss-galaxy-s10-plus-xanh-1.png?v=1552139238637" alt="Samsung Galaxy S10+ (8 + 128GB)" class="img-responsive center-block" />
                                    <label class="per">Giảm  2% </label>
                                </div>
                                <div class="big-content">
                                    <h3>Samsung Galaxy S10+ (8 + 128GB)</h3>
                                    <div class="price">
                                        <strong>22.990.000₫</strong>
                                        <span>23.500.000₫</span>
                                    </div>
                                    <div class="promos hidden-sm">
                                        <ul>
                                            <li><label>Màn hình:</label>6.4 inches, 1440 x 3040 pixels</li>
                                            <li><label>Camera trước:</label>Camera kép</li>
                                            <li><label>Camera sau:</label>3 camera</li>
                                            <li><label>RAM:</label>8 GB</li>
                                            <li><label>Bộ nhớ trong:</label>128 GB</li>
                                            <li><label>GPU:</label>Mali-G76 MP12</li>
                                            <li><label>Dung lượng pin:</label>4100 mAh</li>
                                            <li><label>Hệ điều hành:</label>Android 9.0 (Pie)</li>
                                            <li><label>Thẻ SIM:</label>Nano SIM, 2 Sim</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10e" title="Samsung Galaxy S10e"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863622278818137-ss-galaxy-s10e-den-1.png?v=1552138222357" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S10e" class="img-responsive center-block" />
                                    <label class="per">Giảm  6% </label>
                                </div>
                                <h3>Samsung Galaxy S10e</h3>
                                <div class="price">
                                    <strong>15.990.000₫</strong>
                                    <span>17.000.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a9-2018" title="Samsung Galaxy A9 2018"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636776104541101822-galaxy-a7-blue-5.png?v=1551252657427" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A9 2018" class="img-responsive center-block" />
                                    <label class="per">Giảm  16% </label>
                                </div>
                                <h3>Samsung Galaxy A9 2018</h3>
                                <div class="price">
                                    <strong>10.490.000₫</strong>
                                    <span>12.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018" title="Samsung Galaxy A7 (2018)"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636746958719163577-a7-2018-blue-1.png?v=1551252578530" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 (2018)" class="img-responsive center-block" />
                                    <label class="per">Giảm  7% </label>
                                </div>
                                <h3>Samsung Galaxy A7 (2018)</h3>
                                <div class="price">
                                    <strong>6.990.000₫</strong>
                                    <span>7.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/oppo-a3s-16gb" title="Oppo A3s 16GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636688079458645221-oppoa3s-tim-1.jpg?v=1551252470783" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Oppo A3s 16GB" class="img-responsive center-block" />
                                </div>
                                <h3>Oppo A3s 16GB</h3>
                                <div class="price">
                                    <strong>3.290.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-j8" title="Samsung Galaxy J8"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636668977169527052-samsung-j8-tim-1.jpg?v=1551252361210" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy J8" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy J8</h3>
                                <div class="price">
                                    <strong>4.970.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s9" title="Samsung Galaxy S9"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636552317043233179-1.jpg?v=1551242342070" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S9" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy S9</h3>
                                <div class="price">
                                    <strong>19.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/nokia-6-1-plus" title="Nokia 6.1 Plus"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636737264632784078-nokia6plus-den-1.jpg?v=1551242185720" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Nokia 6.1 Plus" class="img-responsive center-block" />
                                </div>
                                <h3>Nokia 6.1 Plus</h3>
                                <div class="price">
                                    <strong>5.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018-128gb" title="Samsung Galaxy A7 2018 - 128GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636749648129210031-a7-2018-den-1.jpg?v=1551242012420" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 2018 - 128GB" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy A7 2018 - 128GB</h3>
                                <div class="price">
                                    <strong>7.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="san-pham-moi" title="Xem tất cả Tablet" class="hidden-lg hidden-md mobile-viewmore">Xem tất cả Tablet</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="awe-section-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_product clearfix">
                    <div class="section-head clearfix">
                        <h2 class="title_blog">Laptop</h2>
                        <div class="viewallcat hidden-xs">
                            <a href="/dien-thoai" title="Điện thoại">Điện thoại</a>
                            <a href="/tablet" title="Tablet">Tablet</a>
                            <a href="/laptop" title="Laptop">Laptop</a>
                            <a href="/phu-kien" title="Phụ kiện">Phụ kiện</a>
                            <a href="/dong-ho" title="Đồng hồ">Đồng hồ</a>
                            <a href="/may-cu" title="Máy cũ">Máy cũ</a>
                        </div>
                    </div>
                    <div class="product-blocks clearfix">
                        <div class="item-border col-md-40 col-sm-4 col-xs-12 no-padding big-item-product">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10-8-128gb" title="Samsung Galaxy S10+ (8 + 128GB)"></a>
                                <div class="relative">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863659522918468-ss-galaxy-s10-plus-xanh-1.png?v=1552139238637" alt="Samsung Galaxy S10+ (8 + 128GB)" class="img-responsive center-block" />
                                    <label class="per">Giảm  2% </label>
                                </div>
                                <div class="big-content">
                                    <h3>Samsung Galaxy S10+ (8 + 128GB)</h3>
                                    <div class="price">
                                        <strong>22.990.000₫</strong>
                                        <span>23.500.000₫</span>
                                    </div>
                                    <div class="promos hidden-sm">
                                        <ul>
                                            <li><label>Màn hình:</label>6.4 inches, 1440 x 3040 pixels</li>
                                            <li><label>Camera trước:</label>Camera kép</li>
                                            <li><label>Camera sau:</label>3 camera</li>
                                            <li><label>RAM:</label>8 GB</li>
                                            <li><label>Bộ nhớ trong:</label>128 GB</li>
                                            <li><label>GPU:</label>Mali-G76 MP12</li>
                                            <li><label>Dung lượng pin:</label>4100 mAh</li>
                                            <li><label>Hệ điều hành:</label>Android 9.0 (Pie)</li>
                                            <li><label>Thẻ SIM:</label>Nano SIM, 2 Sim</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s10e" title="Samsung Galaxy S10e"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636863622278818137-ss-galaxy-s10e-den-1.png?v=1552138222357" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S10e" class="img-responsive center-block" />
                                    <label class="per">Giảm  6% </label>
                                </div>
                                <h3>Samsung Galaxy S10e</h3>
                                <div class="price">
                                    <strong>15.990.000₫</strong>
                                    <span>17.000.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a9-2018" title="Samsung Galaxy A9 2018"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636776104541101822-galaxy-a7-blue-5.png?v=1551252657427" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A9 2018" class="img-responsive center-block" />
                                    <label class="per">Giảm  16% </label>
                                </div>
                                <h3>Samsung Galaxy A9 2018</h3>
                                <div class="price">
                                    <strong>10.490.000₫</strong>
                                    <span>12.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018" title="Samsung Galaxy A7 (2018)"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636746958719163577-a7-2018-blue-1.png?v=1551252578530" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 (2018)" class="img-responsive center-block" />
                                    <label class="per">Giảm  7% </label>
                                </div>
                                <h3>Samsung Galaxy A7 (2018)</h3>
                                <div class="price">
                                    <strong>6.990.000₫</strong>
                                    <span>7.500.000₫</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/oppo-a3s-16gb" title="Oppo A3s 16GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636688079458645221-oppoa3s-tim-1.jpg?v=1551252470783" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Oppo A3s 16GB" class="img-responsive center-block" />
                                </div>
                                <h3>Oppo A3s 16GB</h3>
                                <div class="price">
                                    <strong>3.290.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-j8" title="Samsung Galaxy J8"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636668977169527052-samsung-j8-tim-1.jpg?v=1551252361210" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy J8" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy J8</h3>
                                <div class="price">
                                    <strong>4.970.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-s9" title="Samsung Galaxy S9"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636552317043233179-1.jpg?v=1551242342070" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy S9" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy S9</h3>
                                <div class="price">
                                    <strong>19.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/nokia-6-1-plus" title="Nokia 6.1 Plus"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636737264632784078-nokia6plus-den-1.jpg?v=1551242185720" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Nokia 6.1 Plus" class="img-responsive center-block" />
                                </div>
                                <h3>Nokia 6.1 Plus</h3>
                                <div class="price">
                                    <strong>5.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                        <div class="item-border col-md-15 col-sm-4 col-xs-6 no-padding">
                            <div class="news-item-products">
                                <a href="/samsung-galaxy-a7-2018-128gb" title="Samsung Galaxy A7 2018 - 128GB"></a>
                                <div class="relative fix-images">
                                    <img data-src="https://bizweb.dktcdn.net/thumb/medium/100/348/133/products/636749648129210031-a7-2018-den-1.jpg?v=1551242012420" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="Samsung Galaxy A7 2018 - 128GB" class="img-responsive center-block" />
                                </div>
                                <h3>Samsung Galaxy A7 2018 - 128GB</h3>
                                <div class="price">
                                    <strong>7.990.000₫</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="san-pham-moi" title="Xem tất cả Laptop" class="hidden-lg hidden-md mobile-viewmore">Xem tất cả Laptop</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="awe-section-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section_blogs">
                    <h2>
                        <a href="/tin-tuc" title="Video sản phẩm">Video sản phẩm</a>
                    </h2>
                    <div class="clearfix">
                        <div class="col-md-3 col-sm-6 col-xs-12 news-items">
                            <a href="/oppo-trinh-lang-dien-thoai-gap-nhung-se-khong-san-xuat-hang-loat" title="OPPO tr&#236;nh l&#224;ng điện thoại gập nhưng sẽ kh&#244;ng sản xuất h&#224;ng loạt" class="clearfix">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/large/100/348/133/articles/900x450-uploads-2019-02-25-ca681d5a1e.jpg?v=1551952776750" alt="OPPO tr&#236;nh l&#224;ng điện thoại gập nhưng sẽ kh&#244;ng sản xuất h&#224;ng loạt" class="img-responsive center-block" />
                                <h3>OPPO tr&#236;nh l&#224;ng điện thoại gập nhưng sẽ kh&#244;ng sản xuất h&#224;ng loạt</h3>
                                <div class="date_added">Ngày đăng: 26/02/2019</div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 news-items">
                            <a href="/voi-qualcomm-5g-khong-chi-danh-cho-dien-thoai-ma-con-ca-pc" title="Với Qualcomm, 5G kh&#244;ng chỉ d&#224;nh cho điện thoại m&#224; c&#242;n cả PC" class="clearfix">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/large/100/348/133/articles/nen-800x450.jpg?v=1551189624743" alt="Với Qualcomm, 5G kh&#244;ng chỉ d&#224;nh cho điện thoại m&#224; c&#242;n cả PC" class="img-responsive center-block" />
                                <h3>Với Qualcomm, 5G kh&#244;ng chỉ d&#224;nh cho điện thoại m&#224; c&#242;n cả PC</h3>
                                <div class="date_added">Ngày đăng: 26/02/2019</div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 news-items">
                            <a href="/galalaxy-s10-ra-mat-tai-viet-nam-gia-tot-hon-du-kien-chi-tu-16-trieu" title="Galalaxy S10 ra mắt tại Việt Nam: Gi&#225; tốt hơn dự kiến, chỉ từ 16 triệu" class="clearfix">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/large/100/348/133/articles/2-800x450.jpg?v=1551189554080" alt="Galalaxy S10 ra mắt tại Việt Nam: Gi&#225; tốt hơn dự kiến, chỉ từ 16 triệu" class="img-responsive center-block" />
                                <h3>Galalaxy S10 ra mắt tại Việt Nam: Gi&#225; tốt hơn dự kiến, chỉ từ 16 triệu</h3>
                                <div class="date_added">Ngày đăng: 26/02/2019</div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 news-items">
                            <a href="/xuat-hien-hinh-anh-render-sac-net-cua-smartphone-oppo-zoom-quang-10x" title="Xuất hiện h&#236;nh ảnh render sắc n&#233;t của smartphone OPPO zoom quang 10x" class="clearfix">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" data-lazyload="https://bizweb.dktcdn.net/thumb/large/100/348/133/articles/fa2-800x451.jpg?v=1551189488043" alt="Xuất hiện h&#236;nh ảnh render sắc n&#233;t của smartphone OPPO zoom quang 10x" class="img-responsive center-block" />
                                <h3>Xuất hiện h&#236;nh ảnh render sắc n&#233;t của smartphone OPPO zoom quang 10x</h3>
                                <div class="date_added">Ngày đăng: 26/02/2019</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>