@model Models.EF.Contact

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="/Admin/Contact">Contact</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
</nav>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Detail Of A Contact</strong>
            </div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class=" form-control-label">Contact ID</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Model.Id</p>
                    </div>
                </div>                
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class=" form-control-label">Contact Detail</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@Model.Detail</p>
                    </div>
                </div>                                
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label class=" form-control-label">Status</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <p class="form-control-static">@(Model.Status? "Processing" : "Denied")</p>
                    </div>
                </div>                
            </div>
            <div class="card-footer">
                @Html.ActionLink("Back to tag index", "Index", "Tag")
            </div>
        </div>        
    </div>
</div>
